<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Example return template for 
		<span th:text="${name}"></span>
		<span th:text="${person.name}"></span>
		!!
	</h1>
	
	<h3>Edad 
		<span th:text="${person.age}"></span>
		!!
	</h3>
	
	<table>
		<head>
			<tr>
				<th>NAME</th>
				<th>Age</th>
			</tr>
		</head>
		<body th:each="person : ${people}">
			<tr>
				<th th:text="${person.name}"></th>
				<th th:text="${person.age}"></th>
			</tr>
		</body>
	</table>
	
	
</body>
</html>